.edit-name-form {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputs {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;

      input {
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 150px;
        text-align: center;
        color: gray;
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;

      button {
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: transparent;
        color: black;
        font-size: 1rem;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #f0f0f0;
        }

        &:first-of-type {
          background: #00bc77;
          color: white;
          width: 6rem;
        }

        &:last-of-type {
          background: #ccc;
        }
      }
    }
  }
}
