.profile-header {
  text-align: center;
  margin-bottom: 2rem;
  color: white;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .edit-button {
    background-color: #00bc77;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  @media (max-width: 720px) {
    margin-top: 100%; /* Utiliser une valeur réaliste pour la marge supérieure */
    
    h1 {
      font-size: 1.5rem;

    }

    .edit-button {
      padding: 8px 16px;
    }
  }
}
