.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
  color: #2c3e50;

  .transaction-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;

    .transaction-title {
      font-size: 1.25rem;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }

    .transaction-amount {
      font-size: 2.5rem;
      font-weight: bold;
      margin: 0.5rem 0;
    }

    .transaction-description {
      margin: 0;
      color: #666;
    }
  }

  .cta {
    flex: 0 0 auto;
    margin-left: 1rem;

    .transaction-button {
      background-color: #00bc77;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  @media (max-width: 720px) {
    flex-direction: column;
    align-items: flex-start;

    .cta {
      margin-left: 0;
      margin-top: 1rem;
      width: 100%;
      text-align: right;

      .transaction-button {
        width: 100%;
      }
    }
  }
}
